//*  Typography
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Roboto", sans-serif; 
}

h1{
  font-size: 38px;
  letter-spacing: 1px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 22px;
  text-transform: uppercase;
}

p{
  line-height: 27px;
}

.title{
  margin-bottom: 0.3rem;
  
  &--winner{
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-decoration: underline;
  }

  &--stat{
    margin: 0;
    color: var(--primary-color-light);
  }

  &--friend{
    font-size: 18px;
  }
}

.subtitle{
  font-size: 14px;
  font-weight: 200;
  color: var(--secondary-text);
  margin-bottom: 1rem;
}

.gray{
  color: var(--secondary-text);
}

.red{
  color: var(--secondary-color)
}